extend layout
block link
	link(rel="stylesheet", href="/stylesheets/blog.css")

block content
	.container.in
		.row
			.col-lg-8.blog
				// Images
				.blog-image
					img(src='/'+item.image, style='width:100%')

				// Title
				.blog-title
					.title-category
						if item.category == 'recipe'
							a(href="/recipe") Công thức
						else 
							a(href="/tip") Mẹo
					.title-content
						span=item.title
				.blog-content
					#data-content=item.content
					#content
					if item.category == 'recipe'
						.wrapper
							.wrapper-heading
								.heading-image
									img(src='/'+item.image, alt='', style='width: 100%; border-radius: 4px')
								.heading-title
									h2(style='font-size: 20px; display: inline-block; margin-right: auto')=item.title
									a.print-this(href='#', onclick='printThis()') In 
									span Thời gian nấu : 15 minutes
							if item.recipeId
								.wrapper-ingredients
									h5 Nguyên liệu :
									ul
										each ingredient in item.ingredients
											li=ingredient
							.wrapper-step
								h5 Các bước :
								ol
									each step in item.steps 
										li=step
				.blog-react
					.like
						span.count 1
						.btn-like.fa.fa-heart-o(onclick='onlike()')
						span(style='margin:0 17px;') |
						span.comment-count 1
						span.fa.fa-comment-o  Bình luận
				.blog-comments
					.comment
						.comment-byuser
							img(src='/images/avatardefault.png')
							span Trung
						.comment-content Hay qua anh oi
					form(style='margin-top: 50px;', action='', method="POST")
						textarea#comment-form( rows="5", name='comment', placeholder="Viết bình luận của bạn")
						button.btn.btn-comment.btn-outline-success Gửi bình luận


			.col-lg-4.sidebar
				.written-by
					.heading
						span(style='font-size: 15px;') Viết bởi
					img(src='/'+item.byUser.image, alt='')
					h6.name=item.byUser.name

				.popular-posts
					.heading 
						span Tin nổi bật
					each post in popularPost 
						.post
							if post.category == 'recipe'
								a.img-post-link(href='/recipe/'+post.recipeId)
									img.img-post(src='/'+post.image, alt='', style='')
								.infor-post
									a.post-title(href='/recipe/'+post.recipeId)
										span.post-category Công thức : 
										span=post.title
							else
								a.img-post-link(href='/tip/'+post.tipId)
									img.img-post(src='/'+post.image, alt='', style='')
								.infor-post
									a.post-title(href='/tip/'+post.tipId)
										span.post-category Mẹo : 
										span=post.title
								//a.post-title(href='#')!= '<span class="post-category">' + post.category + '</span>' + ": " + post.title

										
	script(src='/javascripts/blog.js')
	script(src='/javascripts/print-this.js')
